{% extends 'base.html' %}
{% block title %}{% if action %}{{ action }}{% else %}Nuevo{% endif %} Producto{% endblock %}
{% block content %}
    <div class="shadow-lg col-xl mx-auto m-5 px-5 py-2">
        <h2 class="m-4 display-4">{% if action %}{{ action }}{% else %}Nuevo{% endif %} Producto</h2>
        <form method="POST">{% csrf_token %}
            <div class="form-group">
                <label>Nombre</label><br>
                <input type="text" class="form-control" name="name" value="{% if form.errors %}{{ form.name.value }}{% else %}{{ product.name }}{% endif %}">
                {% for error in form.name.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <input type="text" class="form-control" name="description" value="{% if form.errors %}{{ form.description.value }}{% else %}{{ product.description }}{% endif %}">
                {% for error in form.description.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input type="text" class="form-control" name="price" value="{% if form.errors %}{{ form.price.value }}{% else %}{{ product.price }}{% endif %}">
                {% for error in form.price.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock %}